# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment files
.env
.env.local
.env.docker

# Airflow
airflow/logs/

# Data
data/processed/
data/rejected/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db